* {
    box-sizing: border-box;
}

.subcontainer {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.square {
    width: 30px;
    height: 30px;
    background-color: red;
}

.hoverColor {
    width: 30px;
    height: 30px;
    background-color: blue;
}
/* .square:hover {
    background-color: blue;
} */